<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPi 3 Temperature sensor</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1>RPi 3 Temperature sensor</h1>
      <button id="temp_btn" data-cy="temp_btn" class="ghost-button">Get Temperature</button>
      <div class="spinner extra" id="spinner"></div>
      <p id="temp_txt" data-cy="temp_txt"></p>
    </div>
  </body>
  <script src="client.js"></script>
</html>
